*{
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar{
  display: flex;
  height: 70px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.navbar li{
  list-style: none;
  padding: 0px 8px;
}

.preview-text{
  height: 300px;
  border: 0.5px solid rgb(97, 95, 95);
  border-radius: 5px;
  padding: 10px;
  border-color: rgb(211, 137, 94);
  font-size: 22px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.myTextarea{
  font-weight: 500;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.pallete{
   justify-content: center;
   align-items: center;
   display: inline-flex;
}